html, body {
    background: none repeat scroll 0 0 #222;
    font-family: sans-serif;
    font-size: 18px;
    color: #FFF;
    margin: 0;
    height: 100%;
    padding: 0;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

#header {
    font-size: 2.5em;
    text-align: center;
    margin:20px;
}

#header a{
    text-decoration: none;
    color:#109810;
}

#header-tabs {
    margin: 10px;
    font-size: 0.6em;
}

#header-tabs a {
    margin: 0 10px;
}


.text-container {
    line-height: 1.7em;
    margin-top: 80px;
    min-width: 300px;
    max-width: 960px;
    word-wrap: break-word;
    padding: 50px;
    margin: 0 auto;
}

dd {
    margin-left: 10px;
    /* border-left: 2px solid purple; */
    padding-left: 5px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #109810;
  text-decoration: none; }
  a:visited {
    color: #109810; }
  a:hover {
    color: #6A816A;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #109810;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #2C332C;
  border-radius: 3px;
  background-color: #2C2C2C; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
* Posts
*/

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 15px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

.rss-subscribe {}

.body-text-header {
  color: #828282;
}

.blinking-cursor {
  font-weight: 100;
  color: #109810;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #109810;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #109810;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #109810;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #109810;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #109810;
  }
}


.footer-list {
  margin-left: 5px;
  list-style: none; }
  .footer-list > li {
    font-size: 15px;
    margin-bottom: 10px; }


footer {
  border-top: 5px solid #109810;
  min-width: 300px;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  width:100%;
  min-height:100px; }

.column {
  width:30.5%;
  float:left;
  min-height: 250px;
  margin:0 10px; }
  .column > h1 {
    font-size: 20px;
  }

#meta-links {
  width:100%;
  float:left;   
  height:20px;
  text-align: center;
  margin-bottom: 5px;
}
