<footer class="footer">
	<div class="column">
		<h1>Social</h1>
		<ul class="footer-list">
		  <li>Follow us on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
		  <li>Help make us better by writing code and documentation over at <a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
		</ul>
	</div>
	<div class="column">
		<h1>Navigation</h1>
		<ul class="footer-list">
		{% for n in site.nav %}
			<li><a href="{{ n.permalink }}">{{ n.page }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="column">
		<h1>Blog Posts <small>[<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>]</small></h1>
		<ul class="footer-list">
		{% for post in site.posts limit:3 %}
			<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div id="meta-links">
		<a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/img/by-sa-4-80x15.png"></a>
	</div>
</footer>
